@use "../../abstracts" as *;
.logo-display-container {
  padding: 0 1rem 0 3rem;
}
.logo-display-section {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

// |CONTENT SECTION OF LOGO DISPLAY

.logoContent {
  font-size: $b04;
  font-weight: 600;
  color: #070f18;
  white-space: nowrap;
}
// |IMAGE SECTION OF LOGO DISPLAY

.logoImageWrapper {
  display: flex;
  gap: 2rem;
  justify-content: space-between;
  align-items: center;
}
.clientLogo {
  width: 4.5rem;
}

// MEDIA QUERIES

// TABLET VIEW

@media screen and (max-width: 834px) {
  .logo-display-container {
    padding: 0 1rem;
  }
  .logo-display-section {
    flex-direction: column;
    gap: 1rem;
    margin-top: 1rem;
  }

  .logoContent {
    font-size: $b03;

    white-space: nowrap;
    br {
      display: none;
    }
  }
  .logoImages {
    width: 100%;
  }

  .clientLogo {
    width: 5.5rem;
  }
}
