@use "../../abstracts" as *;
.section-container {
  padding: 3rem 3rem;
}
.hero-section {
  margin-top: 1rem;
  display: flex;
  justify-content: space-between;
  gap: 4rem;
  align-items: center;
}
// |HERO CONTENT SECTION

.hero-content {
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 1rem;
  align-items: start;
}

.hero-content-h1 {
  font-size: $h05;
  font-weight: 700;
  color: #000;
  line-height: 2.8rem;
}
.hero-content-sub {
  font-size: $b05;
  font-weight: 400;
  color: $light-color;
  line-height: 1.2rem;
  white-space: nowrap;
}
.hero-content-btn {
  font-size: $b02;
  color: #fff;
  font-weight: 600;
  border: none;

  background: #1f7cff;
  border-radius: 50px;
  padding: 0.5rem 2rem;
  margin-top: 0.5rem;
}
.hero-content-btn:hover {
  cursor: pointer;
  background: hsla(215, 100%, 56%, 0.885);
}

// |HERO IMAGE SECTION
.hero-image-container {
  width: 50%;
}
.hero-image-wrapper {
  display: flex;
  justify-content: end;
  align-items: center;
  width: 100%;
  position: relative;
}

.hero-image {
  width: 100%;
}
.bulkExportImage {
  position: absolute;
  width: 10rem;
  top: 15%;
  right: -15%;
}
.dataAnalyticsImage {
  position: absolute;
  width: 10rem;
  top: 36%;
  left: -25%;
}

// ||MEDIA QUERIES

// TABLET VIEW

@media screen and (max-width: 834px) {
  .hero-image-container {
    display: none;
  }
  .hero-section {
    justify-content: center;
  }
  .hero-content {
    width: 100%;
    align-items: center;
  }
  .hero-content-h1 {
    line-height: 2.3rem;
    text-align: center;
    font-size: $h06;
  }
  .hero-content-sub {
    font-size: $b04;
  }

  .hero-content-btn {
    font-size: $b01;
  }
}
